<h2>Edit Publication</h2>

<%= form_for @publication do |f| %>

	<%= f.label :title%><br>
	<%= f.text_field :title%><br>

	<%= f.label :link%><br>
	<%= f.url_field :link%><br>

	<%=f.label :instructor_id%><br>
	<%=f.collection_select :instructor_id, Instructor.all, :id, :name, prompt: "Select Instructor" %><br>

	<%= f.submit "Update Publication"%>

<%end%>
